*{
    font-family: poppins;
  }

body{
    background-color: rgba(240, 245, 245, 0.493);
}

/*HEADER*/
header{
    background-color: white;
}

/*NAV*/
input[type="button"] {
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(199, 194, 194);
}

#color-buttom{
    background-color:rgb(23, 180, 241);
}

nav{
    margin: 20px auto 0 auto;
    padding: 10px 20px;   
}

/*CONDIVISE*/
.box{
    width: 700px;
    background-color: white;
    border-radius: 3px;
} 

/*MAIN*/
main{
    margin: 2px auto 0 auto; 
    padding: 20px 50px 10px; 
}

section{
    margin-bottom: 20px;
}

.title span::before{
    content: "\25BC"; /*Arrow bottom*/
 }

 .title h3{
    display: inline-block;
}

/*FLAG*/
.flag{
    display: inline-block;
    height: 24px;
    width: 24px;

    color: green;
    font-size: 15px;
    border: 2px solid green;
    border-radius: 100%;
    padding-left: 3px;
}
.flag::before{
    content: "\2713"; /*Flag*/
}
/**/

.row p{
    display: inline-block;
}

.row{
    padding: 10px 0;
}

/*CROSS*/
.cross{
    display: inline-block;
    height: 24px;
    width: 24px;

    color: red;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 100%;
    padding-left: 3px;
}
.cross::before{
    content: "\1F7AA"; /*Croce*/
}
/**/

.tag{
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 20px;
}

/*COLORED TAG*/
.blu-tag{
    background-color: rgb(23, 180, 241);
}
.blu-tag::before{
    content: "Editorial";
}

.purple-tag{
    background-color: rgb(182, 116, 243);
}
/* .violet-tag::before{
    content: "Q1 Goals";
} in questo caso non serve perchè questo tag è presente una sola volta, quindi allungherei solo il codice*/

.green-tag{
    background-color: rgb(67, 240, 145);
}

.orange-tag{
    background-color: orange;
}

.violet-tag{
    background-color: rgb(250, 25, 150);
}

.ligthgreen-tag{
    background-color: rgb(166, 250, 69);
}